---
layout: default
title:  Home
---
<div class="hero">
  <div class="hero__image" style="background-image: url(img/ux-design.jpg);">
    <div class="hero__banner">
      <div class="container">
        <h1 class="hero__heading">Hi, I'm Tyler.
          <br>
          A User Experience Designer In Kansas City
        </h1>
        <h3 class="hero__subheading">I Design memorable user experiences for web and mobile applications</h3>
      </div>
      <!-- container -->
    </div>
  </div>
  <a class="chevron" href="#about"></a>
</div>
<!-- hero -->

<section class="about">
  <a href="#about" id="about" class="anchor"></a>
  <div class="container">
    <h3 class="section-heading section-heading--grey">About Me</h3>
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <img src="http://unsplash.it/500/500" alt="profile-picture" class="about__picture">
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="about__text">
          <p>
            Born and raised in Kansas City, MO. I attended school at the University of Missouri to receive my degree in education.
            During this time, I gained insight into designing instructional material to fit a wide array of learners.
            I also gained experience in human psychology and understanding why people do what they do. During my time in school
            I also taught myself web development skills such as HTML, CSS, and JavaScript.
          </p>
          <br>
          <p>
            I enjoy User Experience Design because you learn to spot opportunites to improve usability and solve
            problems for both the customer and business. It is also an opportunity my creative problem solving skills.
          </p>
          <br>
          <p>
            I begin each design process by coming up with a list of problems or hurdles coming between a business and its users.
            I then brainstorm possible solutions to solve those problems. Through an iterative study and design process I hone in
            on specific design choices that will create an overall better user experience.
          </p>



        </div>

        <a href="{{ site.url }}/assets/resume.pdf" class="btn-cta" target="_blank">
          <span>View Resume</span>
        </a>

      </div>
    </div>
  </div>
  <!-- container -->
</section>
<!-- about -->

<section class="portfolio" style="background-image: url(http://unsplash.it/2000/2000);">
  <a href="#portfolio" id="portfolio" class="anchor"></a>
  <div class="container">
    <h3 class="section-heading section-heading--white">Portfolio</h3>

    <div class="row portfolio__grid">

      {% for post in site.categories.primary %}

        <a href="{{ post.url }}" class="col-md-12 portfolio__item">
          <div class="portfolio__image" style="background-image: url({{ post.image }});">
            <div class="portfolio__text">
              <h3 class="portfolio__heading">{{ post.title }}</h3>
              {{ post.description }}
            </div>
          </div>
        </a>

      {% endfor %}

    </div>

    <div class="row">

      {% for post in site.categories.secondary %}

        <a href="{{ post.url }}" class="col-md-6 portfolio__item">
          <div class="portfolio__image" style="background-image: url({{ post.image }});">
            <div class="portfolio__text">
              <h3 class="portfolio__heading">{{ post.title }}</h3>
              {{ post.description }}
            </div>
          </div>
        </a>

      {% endfor %}

    </div>

    <div class="row">

      {% for post in site.categories.tertiary %}

        <a href="{{ post.url }}" class="col-md-12 portfolio__item">
          <div class="portfolio__image" style="background-image: url({{ post.image }});">
            <div class="portfolio__text">
              <h3 class="portfolio__heading">{{ post.title }}</h3>
              {{ post.description }}
            </div>
          </div>
        </a>

      {% endfor %}

    </div>
    <!--  row  -->
    
  </div>
  <!--  container  -->
</section>
<!-- portfolio -->
