---
layout: default
title:  Home
---
<div class="hero">
  <div class="hero__image" style="background-image: url(img/ux-design.jpg);">
    <div class="hero__banner">
      <div class="container">
        <h1 class="hero__heading">Hi, I'm Tyler.
          <br>
          A User Experience Designer In Kansas City
        </h1>
        <h3 class="hero__subheading">I Design memorable user experiences for web and mobile applications</h3>
      </div>
      <!-- container -->
    </div>
  </div>
  <a class="chevron" href="#about"></a>
</div>
<!-- hero -->

<section class="about">
  <a href="#about" id="about" class="anchor"></a>
  <div class="container">
    <h3 class="section-heading section-heading--grey">About Me</h3>
    <div class="grid">

      <div class="col-1-2">
        <img src="http://unsplash.it/500/500" alt="profile-picture" class="about__picture">
      </div>

      <div class="col-1-2">
        <div class="about__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

        </div>

        <a class="btn-cta">
          <span>View Resume</span>
        </a>

      </div>
    </div>
  </div>
  <!-- container -->
</section>
<!-- about -->

<section class="portfolio" style="background-image: url(http://unsplash.it/2000/2000);">
  <a href="#portfolio" id="portfolio" class="anchor"></a>
  <div class="container">
    <h3 class="section-heading section-heading--white">Portfolio</h3>

    <div class="grid portfolio__grid">

      {% for post in site.categories.primary %}

        <a href="{{ post.url }}" class="col-1-1 portfolio__item">
          <div class="portfolio__image" style="background-image: url({{ post.image }});">
            <div class="portfolio__text">
              <h3 class="portfolio__heading">{{ post.title }}</h3>
              {{ post.description }}
            </div>
          </div>
        </a>

      {% endfor %}

      {% for post in site.categories.secondary %}

        <a href="{{ post.url }}" class="col-2-2 portfolio__item">
          <div class="portfolio__image" style="background-image: url({{ post.image }});">
            <div class="portfolio__text">
              <h3 class="portfolio__heading">{{ post.title }}</h3>
              {{ post.description }}
            </div>
          </div>
        </a>

      {% endfor %}

      {% for post in site.categories.tertiary %}

        <a href="{{ post.url }}" class="col-2-2 portfolio__item">
          <div class="portfolio__image" style="background-image: url({{ post.image }});">
            <div class="portfolio__text">
              <h3 class="portfolio__heading">{{ post.title }}</h3>
              {{ post.description }}
            </div>
          </div>
        </a>

      {% endfor %}

    </div>
    <!--  grid  -->
  </div>
  <!--  container  -->
</section>
<!-- portfolio -->
