.portfolio__item {
  position: relative;
  margin-bottom: 4rem;
  font-family: $sans-serif;
  text-align: center;
  color: #fff;
}
.portfolio__image {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, rgba(77,197,214, 0.6) 0%, rgba(211,29,140,0.6) 100%);
    z-index: -1;
  }
}

.portfolio__heading {
  z-index: 2;
}

.portfolio__text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 1.5rem;
}

.portfolio { /* FF3.6-15 */
  position: relative;
  z-index: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom left, rgba(211,29,140,0.7) 50%, rgba(77,197,214,0.7) 50%, rgba(125,185,232,0.7) 100%);
    background: -o-linear-gradient(bottom left, rgba(211,29,140,0.7) 50%, rgba(77,197,214,0.7) 50%, rgba(125,185,232,0.7) 100%);
    background: linear-gradient(to top right, rgba(211,29,140,0.7) 50%, rgba(77,197,214,0.7) 50%, rgba(125,185,232,0.7) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: -1;
  }
}

.portfolio__grid {
  background-color: transparent !important;
}


/////////////////////////////////////////////////////////////////////////////////
//
//
//portfolio hero
//
//
////////////////////////////////////////////////////////////////////////////////
