#nav {
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.35);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav__links {
  display: inline-block;
  flex: 1 0 auto;
  text-align: left;
  font-size: 1.75rem;
  line-height: 2rem;
}

.nav__links a {
  padding: 0.5rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  line-height: 2rem;
  color: $grey;
  font-weight: bold;

  &:hover, &:active {
    text-decoration: none;
    outline: none;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }

  &:before, &:after {
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
  }

  &:before {
    bottom: 0;
    transform:  translateX(-100%);
  }

  &:after {
    top: 0;
    transform:  translateX(100%);
  }

  &:hover:before, &:hover:after {
    transform:  translateX(0);
  }
}

.nav__items {
  display: flex;
  align-items: center;
  font-family: $sans-serif;
}

.logo-container {
  flex: 1 0 auto;
}

#nav__logo {
  display: inline-block;
  font-family: $sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  background: -webkit-linear-gradient($primary-color, $secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

.nav__divider {
  display: inline-block;
  height: 3rem;
  width: 0.1rem;
  background: linear-gradient(to top, $primary-color 0%, $secondary-color 100%);
  margin: 0 -0.45rem;;
}

.nav__social {
  flex: 0 1 auto;
  text-align: right;
}

.nav__social-link {
  font-size: 2rem;
  transition: 0.3s;

  &:not(:last-child) {
    margin-right: 0.75rem;
  }

  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}
