* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  //1 rem = 10px; 10px/16px = 62.5
  font-size: 62.5%
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #515151;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

//this anchor is used on specific page anchors and is used to offset the fixed
//nav bar
.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -62px;//height of navbar
    left: 0;
    visibility: hidden;
}

// .grid {
//   display: flex;
// }
//
// .grid-1-of-1 {
//   width: calc((100%/1) - 2rem);
// }
//
// .grid-1-of-2 {
//   width: calc((100%/2) - 2rem);
// }
//
// .grid-1-of-3 {
//   width: calc((100%/3) - 2rem);
// }

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
