//font
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Slabo';

//color
$primary-color: #4DC5D6;

$secondary-color: #D31D8C;

$grey: #515151;


//headings
.section-heading {
  font-size: 4rem;
  font-family: $sans-serif;
  padding: 2rem 0;
  font-weight: 400;
}

.section-heading--grey {
  color: $grey;
}

.section-heading--white {
  color: #fff;
}
